body {
  margin: 0;
}
.App {
  position: relative;
}

.loading-spinner {
  position: absolute;
  right: 30px;
  top: 60px;
}

.movie-card-wrapper {
  height: 460px;
}
.person-card-wrapper {
  height: 380px;
}
.movie-card,
.person-card {
  height: 90%;
}

.image {
  height:100%;
  text-align: center;
}

.search-icon{
  color:white
}

 .search-icon :hover{
  color: gray;
}

.time-stamp{
  color:gray
}
.card-body{
  height:100%
}
